.testimonials {
    background-color: rgb(231, 180, 197);
    margin-top: 20px;
}
.testimonial {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
@media only screen and (max-width: 600px) {
    .testimonial {
        
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }
}